.page {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 32px;
  gap: 32px;
  font-family: var(--font-geist-sans);
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }
}